@import "../../../style/base/constants";

.container{
    &-footer{
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0 0 auto;

        .about-developers{
            display: flex;
            align-items: center;

            .github{
              .list-github{
                width: 170px;
                display: flex;
                justify-content: space-between;
                padding-right: 20px;

                li{
                    list-style-type:none;

                    a{
                        color: var(--color1);
                        text-decoration: none;
                    }

                    &:hover{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
              }
            }

            &__page{
                font-size: $size-medium;

                &:hover{
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
        .date-create{
            font-size: $size-medium;
        }

        .RsSchool{
            width: 100px;
        }
    }
}

@media (max-width:701px) {
    .container{
        &-footer{

           .about-developers{
            font-size: 13px;

            .github{
                .list-github{
                    width: 140px;
                }
            }
           }

           .about-developers__page{
            font-size: 13px;
           }

           .date-create{
            font-size: 13px;
           }

            .RsSchool{
                width: 70px;
            }
        }
    }
}


@media (max-width:501px) {
    .container{
        &-footer{

           .about-developers{
            font-size: 10px;

            .github{
                .list-github{
                    width: 100px;
                    padding-right: 10px;
                }
            }
           }

           .about-developers__page{
            font-size: 10px;
           }

           .date-create{
            font-size: 10px;
           }

            .RsSchool{
                width: 50px;
            }
        }
    }
}
