$color-black: #111;
$color-white: #fff;
$color-grey: #848484;
$color-dark-grey: #363535;
$color-light-grey: #f1f1f1;
$color-red: #c41313;
$color-blue: #648ee7;

$screen-tablet: 900px;
$screen-mobile: 600px;

$size-large: 40px;
$size-regular: 24px;
$size-medium: 20px;
$size-small: 16px;



body.light{
    --color1: #000;
    --color2: #fff;
}

body.dark {
    --color1: #fff;
    --color2: #000;
}

svg {
    fill: var(--color1);
}