* {
  margin: 0;
  padding: 0;
}

.container {
  padding: 10px 10px 0 10px;
  max-width: 1400px;
  margin: 0 auto;
}

.container-main-page {
  margin-top: 20px;
}
.container-main-page .connection-friends {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  background-image: url("././imgs/people-connected.jpg");
  background-position: -61px 40px;
  height: 510px;
}
.container-main-page .connection-friends .text-connection {
  font-size: 24px;
  padding-top: 20px;
}
.container-main-page .connection-friends .main-page__btn-join {
  position: absolute;
  bottom: 15px;
  left: 30px;
}
.container-main-page .connection-friends .main-page__btn-join button {
  font-size: 24px;
  padding: 10px 10px;
  border: 1px solid white;
  color: white;
  border-radius: 25px;
  display: flex;
  background: black;
}
.container-main-page .connection-friends .main-page__btn-join button:hover {
  cursor: pointer;
}
.container-main-page .main-page__description-app {
  position: relative;
  display: flexbox;
}
.container-main-page .main-page__description-app h3 {
  padding-bottom: 20px;
}
.container-main-page .main-page__description-app div {
  font-size: 24px;
  max-width: 550px;
  text-align: justify;
  margin: 0 100px;
  padding: 20px 0;
}
.container-main-page .main-page__description-app div:nth-child(2) {
  margin-left: auto;
}
.container-main-page .main-page__btn-trainings {
  padding: 60px 0;
  display: flex;
  justify-content: center;
}
.container-main-page .main-page__btn-trainings button {
  font-size: 24px;
  padding: 10px 10px;
  border: 1px solid black;
  color: black;
  border-radius: 25px;
  display: flex;
  background: white;
}
.container-main-page .main-page__btn-trainings button:hover {
  cursor: pointer;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}
.container-header .logo {
  width: 30px;
  height: 30px;
}
.container-header .header-nav {
  padding: 0 10px;
  width: 700px;
}
.container-header .header-nav .active-list {
  text-decoration: underline;
}
.container-header .header-nav .list-navigation {
  display: flex;
  justify-content: space-between;
}
.container-header .header-nav .list-navigation li {
  list-style-type: none;
}
.container-header .header-nav .list-navigation li a {
  color: black;
  text-decoration: none;
}
.container-header .header-nav .list-navigation li a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.container-header .header-customization {
  display: flex;
  padding-right: 10px;
  width: 200px;
  justify-content: space-between;
}
.container-header .header-customization .language-choose {
  text-decoration: underline;
}
.container-header .header-customization .choose-language {
  display: flex;
  width: 75px;
  justify-content: space-between;
}
.container-header .header-customization .choose-language div:hover {
  cursor: pointer;
  text-decoration: underline;
}
.container-header .header-customization .switch-theme {
  display: flex;
  width: 85px;
  justify-content: space-between;
}
.container-header .header-customization .switch-theme .theme-choose {
  border-bottom: 2px solid black;
}
.container-header .header-customization .switch-theme .switch-theme__white,
.container-header .header-customization .switch-theme .switch-theme__black {
  display: flex;
}
.container-header .header-customization .switch-theme .switch-theme__white img,
.container-header .header-customization .switch-theme .switch-theme__black img {
  width: 30px;
  height: 30px;
}
.container-header .header-customization .switch-theme div:hover {
  cursor: pointer;
  border: 25px;
  border-bottom: 2px solid black;
}
.container-header .container-header__bnt {
  display: flex;
  width: 190px;
  justify-content: space-between;
}
.container-header .container-header__bnt button {
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  border-radius: 25px;
}
.container-header .container-header__bnt button:hover {
  cursor: pointer;
}
.container-header .container-header__bnt .btn-signIn button {
  border: 1px solid black;
  border-radius: 25px;
  display: flex;
  background: white;
}
.container-header .container-header__bnt .btn-signUp button {
  border: 1px solid white;
  color: white;
  border-radius: 25px;
  display: flex;
  background: black;
}

.container-footer {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-footer .about-developers {
  display: flex;
  align-items: center;
}
.container-footer .about-developers .github .list-github {
  width: 170px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}
.container-footer .about-developers .github .list-github li {
  list-style-type: none;
}
.container-footer .about-developers .github .list-github li a {
  color: black;
  text-decoration: none;
}
.container-footer .about-developers .github .list-github li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.container-footer .about-developers__page {
  font-size: 20px;
}
.container-footer .about-developers__page:hover {
  cursor: pointer;
  text-decoration: underline;
}
.container-footer .date-create {
  font-size: 20px;
}
.container-footer .RsSchool {
  width: 100px;
}

/*# sourceMappingURL=style.css.map */
