@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

.container {
  padding: 10px 10px 0 10px;
  max-width: 1400px;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.container-main-page {
  margin-top: 20px;
}
.container-main-page .connection-friends {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  background-image: url("././imgs/people-connected.jpg");
  background-position: -61px 40px;
  height: 510px;
}
.container-main-page .connection-friends .text-connection {
  font-size: 24px;
  padding-top: 20px;
}
.container-main-page .connection-friends .main-page__btn-join {
  position: absolute;
  bottom: 15px;
  left: 30px;
}
.container-main-page .connection-friends .main-page__btn-join button {
  font-size: 24px;
  padding: 10px 10px;
  border: 1px solid white;
  color: white;
  border-radius: 25px;
  display: flex;
  background: black;
}
.container-main-page .connection-friends .main-page__btn-join button:hover {
  cursor: pointer;
}
.container-main-page .main-page__description-app {
  position: relative;
  display: flexbox;
}
.container-main-page .main-page__description-app h3 {
  padding-bottom: 20px;
}
.container-main-page .main-page__description-app div {
  font-size: 24px;
  max-width: 550px;
  text-align: justify;
  margin: 0 100px;
  padding: 20px 0;
}
.container-main-page .main-page__description-app div:nth-child(2) {
  margin-left: auto;
}
.container-main-page .main-page__btn-trainings {
  padding: 60px 0;
  display: flex;
  justify-content: center;
}
.container-main-page .main-page__btn-trainings button {
  font-size: 24px;
  padding: 10px 10px;
  border: 1px solid black;
  color: black;
  border-radius: 25px;
  display: flex;
  background: white;
}
.container-main-page .main-page__btn-trainings button:hover {
  cursor: pointer;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}
.container-header .logo {
  width: 30px;
  height: 30px;
}
.container-header .header-nav {
  padding: 0 10px;
  width: 700px;
}
.container-header .header-nav .active-list {
  text-decoration: underline;
}
.container-header .header-nav .list-navigation {
  display: flex;
  justify-content: space-between;
}
.container-header .header-nav .list-navigation li {
  list-style-type: none;
}
.container-header .header-nav .list-navigation li a {
  color: black;
  text-decoration: none;
}
.container-header .header-nav .list-navigation li a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.container-header .header-customization {
  display: flex;
  padding-right: 10px;
  width: 200px;
  justify-content: space-between;
}
.container-header .header-customization .language-choose {
  text-decoration: underline;
}
.container-header .header-customization .choose-language {
  display: flex;
  width: 75px;
  justify-content: space-between;
}
.container-header .header-customization .choose-language div:hover {
  cursor: pointer;
  text-decoration: underline;
}
.container-header .header-customization .switch-theme {
  display: flex;
  width: 85px;
  justify-content: space-between;
}
.container-header .header-customization .switch-theme .theme-choose {
  border-bottom: 2px solid black;
}
.container-header .header-customization .switch-theme .switch-theme__white,
.container-header .header-customization .switch-theme .switch-theme__black {
  display: flex;
}
.container-header .header-customization .switch-theme .switch-theme__white img,
.container-header .header-customization .switch-theme .switch-theme__black img {
  width: 30px;
  height: 30px;
}
.container-header .header-customization .switch-theme div:hover {
  cursor: pointer;
  border: 25px;
  border-bottom: 2px solid black;
}
.container-header .container-header__bnt {
  display: flex;
  width: 190px;
  justify-content: space-between;
}
.container-header .container-header__bnt button {
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  border-radius: 25px;
}
.container-header .container-header__bnt button:hover {
  cursor: pointer;
}
.container-header .container-header__bnt .btn-signIn button {
  border: 1px solid black;
  border-radius: 25px;
  display: flex;
  background: white;
}
.container-header .container-header__bnt .btn-signUp button {
  border: 1px solid white;
  color: white;
  border-radius: 25px;
  display: flex;
  background: black;
}

.container-footer {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
}
.container-footer .about-developers {
  display: flex;
  align-items: center;
}
.container-footer .about-developers .github .list-github {
  width: 170px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}
.container-footer .about-developers .github .list-github li {
  list-style-type: none;
}
.container-footer .about-developers .github .list-github li a {
  color: black;
  text-decoration: none;
}
.container-footer .about-developers .github .list-github li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.container-footer .about-developers__page {
  font-size: 20px;
}
.container-footer .about-developers__page:hover {
  cursor: pointer;
  text-decoration: underline;
}
.container-footer .date-create {
  font-size: 20px;
}
.container-footer .RsSchool {
  width: 100px;
}

.workout-card {
  background-color: black;
  color: gray;
}
.workout-card .container .workout-card__image {
  width: 100%;
}
.workout-card .container .workout-card__name {
  margin-top: -100px;
  margin-left: 50px;
  font-size: 3rem;
  color: white;
}
.workout-card .container .workout-card__time {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  color: white;
  margin: 100px 50px 25px 50px;
}
.workout-card .container .workout-card__time .workout-card__time_icon {
  width: 50px;
  height: 50px;
  filter: invert(100%);
  margin-right: 50px;
}
.workout-card .container .workout-card__characteristics {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  color: white;
  margin: 25px 50px 25px 50px;
}
.workout-card .container .workout-card__characteristics .workout-card__characteristics_icon {
  width: 50px;
  height: 50px;
  filter: invert(100%);
  margin-right: 50px;
}
.workout-card .container .workout-card__equipment {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  color: white;
  margin: 25px 50px 25px 50px;
}
.workout-card .container .workout-card__equipment .workout-card__equipment_icon {
  width: 50px;
  height: 50px;
  filter: invert(100%);
  margin-right: 50px;
}
.workout-card .container .workout-card__description {
  color: gray;
  font-size: 2rem;
  margin-left: 50px;
}
.workout-card .container .workout-card__start {
  margin: 50px auto;
  display: block;
  height: 100px;
  font-size: 2rem;
  color: black;
  background-color: white;
  width: 70%;
  border-radius: 50px;
}

.program-card {
  background-color: black;
  color: gray;
}
.program-card .container .program-card__image {
  width: 100%;
}
.program-card .container .program-card__name {
  margin-top: -100px;
  margin-left: 50px;
  font-size: 3rem;
  color: white;
}
.program-card .container .line {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 100px;
}
.program-card .container .program-card__duration {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  color: white;
  margin: 25px 50px 25px 50px;
  width: 50%;
}
.program-card .container .program-card__duration .program-card__duration_icon {
  width: 50px;
  height: 50px;
  filter: invert(100%);
  margin-right: 50px;
}
.program-card .container .program-card__frequency {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  color: white;
  margin: 25px 50px 25px 50px;
}
.program-card .container .program-card__frequency .program-card__frequency_icon {
  width: 50px;
  height: 50px;
  filter: invert(100%);
  margin-right: 50px;
}
.program-card .container .program-card__level {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  color: white;
  margin: 25px 50px 25px 50px;
  width: 50%;
}
.program-card .container .program-card__level .program-card__level_icon {
  width: 50px;
  height: 50px;
  filter: invert(100%);
  margin-right: 50px;
}
.program-card .container .program-card__time {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  color: white;
  margin: 25px 50px 25px 50px;
}
.program-card .container .program-card__time .program-card__time_icon {
  width: 50px;
  height: 50px;
  filter: invert(100%);
  margin-right: 50px;
}
.program-card .container .program-card__description {
  color: gray;
  font-size: 2rem;
  margin: 50px 0 50px 50px;
}
.program-card .container .program-card__equipment {
  color: white;
  font-size: 2rem;
  margin-left: 50px;
}
.program-card .container .program-card__equipment-description {
  color: gray;
  font-size: 2rem;
  margin-left: 50px;
}
.program-card .container .program-card__start {
  margin: 50px auto;
  display: block;
  height: 100px;
  font-size: 2rem;
  color: black;
  background-color: white;
  width: 70%;
  border-radius: 50px;
}

.container-aboutDevelopers {
  display: flex;
  justify-content: space-around;
  padding: 100px 0;
  flex-wrap: wrap;
}
.container-aboutDevelopers .developer-photo {
  display: flex;
  justify-content: center;
}
.container-aboutDevelopers .developer-photo img {
  max-width: 300px;
}
.container-aboutDevelopers .developer-name {
  padding: 10px 0;
  font-size: 24px;
  display: flex;
  justify-content: center;
}
.container-aboutDevelopers .developer-description {
  max-width: 400px;
  text-align: justify;
  padding-bottom: 20px;
  font-size: 20px;
}
.container-aboutDevelopers .developer-github {
  font-size: 20px;
}
.container-aboutDevelopers .developer-github a {
  color: black;
  text-decoration: none;
}

.formSingIn,
.formSignUp {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  padding-top: 100px; /* Расположение коробки */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: rgb(0, 0, 0); /* Цвет запасной вариант  */
  background-color: rgba(0, 0, 0, 0.4);
}

.container-formSignUp, .container-formSingIn {
  /*  display: flex; */
  /* justify-content: center; */
  /*
            .modal {
              display: none;
              position: fixed;
              z-index: 1;
              padding-top: 100px;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              overflow: auto;
              background-color: rgb(0,0,0);
              background-color: rgba(0,0,0,0.4);
            }
   */
  /* Модальное содержание */
  /*   .modal-content {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      border: 1px solid #888;
      width: 80%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s
    } */
  /* Добавить анимацию */
  /* Кнопка закрытия */
  /*
            .modal-header {
              padding: 2px 16px;
              background-color: #5cb85c;
              color: white;
            }

            .modal-body {padding: 2px 16px;}

            .modal-footer {
              padding: 2px 16px;
              background-color: #5cb85c;
              color: white;
            } */
}
.container-formSignUp .container-form, .container-formSingIn .container-form {
  width: 500px;
  height: 450px;
  background-color: white;
  padding: 10px 10px;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  /* padding: 0; */
  border: 1px solid #888;
  /* width: 80%; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.container-formSignUp h3, .container-formSingIn h3 {
  padding: 10px 0;
  font-size: 24px;
}
.container-formSignUp p, .container-formSignUp b, .container-formSingIn p, .container-formSingIn b {
  font-size: 20px;
}
.container-formSignUp input[type=text], .container-formSignUp input[type=password], .container-formSingIn input[type=text], .container-formSingIn input[type=password] {
  width: 100%;
  padding: 15px 0;
  margin: 5px 0 22px 0;
  font-size: 20px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.container-formSignUp input[type=text]:focus, .container-formSignUp input[type=password]:focus, .container-formSingIn input[type=text]:focus, .container-formSingIn input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.container-formSignUp hr, .container-formSingIn hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.container-formSignUp .registerbtn, .container-formSingIn .registerbtn {
  border: 1px solid white;
  color: white;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  background: black;
  padding: 16px 20px;
  font-size: 20px;
  margin: 8px 0;
  width: 100%;
}
.container-formSignUp .registerbtn:hover, .container-formSingIn .registerbtn:hover {
  opacity: 1;
}
.container-formSignUp a, .container-formSingIn a {
  color: dodgerblue;
}
.container-formSignUp .signin, .container-formSingIn .signin {
  background-color: #f1f1f1;
  text-align: center;
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.container-formSignUp .closeSingUp,
.container-formSignUp .closeSingIn, .container-formSingIn .closeSingUp,
.container-formSingIn .closeSingIn {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.container-formSignUp .closeSingUp:hover,
.container-formSignUp .closeSingUp:focus,
.container-formSignUp .closeSingIn:hover,
.container-formSignUp .closeSingIn:focus, .container-formSingIn .closeSingUp:hover,
.container-formSingIn .closeSingUp:focus,
.container-formSingIn .closeSingIn:hover,
.container-formSingIn .closeSingIn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
