  .container{
    &-formSignUpAndSingIn{
        width: 500px;

        h3{
            padding: 10px 0;
            font-size: 24px;
        }

        p,b{
            font-size: 20px;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 15px 0;
            margin: 5px 0 22px 0;
            font-size: 20px;
            display: inline-block;
            border: none;
            background: #f1f1f1;
          }

          input[type=text]:focus, input[type=password]:focus {
            background-color: #ddd;
            outline: none;
          }

          hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
          }

          .registerbtn {
            border: 1px solid white;
            color: white;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            background: black;
            padding: 16px 20px;
            font-size: 20px;
            margin: 8px 0;
            width: 100%;
          }

          .registerbtn:hover {
            opacity:1;
          }

          a {
            color: dodgerblue;
          }

          .signin {
            background-color: #f1f1f1;
            text-align: center;
          }
    }
  }


