.container{
    &-main-page{
        margin-top: 20px;

        .connection-friends{
            position: relative;
            display: flex;
            width: 100%;
            justify-content: center;
            background-image: url('././imgs/people-connected.jpg');
            background-position: -61px 40px;
            height: 510px;

            .text-connection{
               font-size: 24px;
               padding-top: 20px;
            }

            .main-page__btn-join{
                position: absolute;
                button{
                    font-size: 24px;
                    padding: 10px 10px;
                    border: 1px solid white;
                    color: white;
                    border-radius: 25px;
                    display: flex;
                    background: black;

                    &:hover{
                        cursor: pointer;
                    }
                }
                bottom: 15px;
                left: 30px;
            }
        }

        .main-page__description-app{
         position: relative;
         display: flexbox;

            h3{
               padding-bottom: 20px;
            }

            div{
                font-size: 24px;
                max-width: 550px;
                text-align: justify;
                margin:0  100px;
                padding:20px 0;

                 &:nth-child(2){
                    margin-left: auto;
                }
            }
        }

        .main-page__btn-trainings{
            padding:60px 0;
            display: flex;
            justify-content: center;

            button{
                font-size: 24px;
                padding: 10px 10px;
                border: 1px solid black;
                color: black;
                border-radius: 25px;
                display: flex;
                background: white;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}