*{
    margin: 0;
    padding: 0;
}

body,
html{
    height: 100%;
}

.container{
    padding: 10px 10px 0 10px;
    max-width: 1400px;
    margin: 0 auto;

}
body {
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}


@import "./main";
@import "./header";
@import "./footer";
@import "./winners";
@import "./workoutCard";
@import "./programCard";
@import "./developers";
@import "./form";

