.container{
    &-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;

        .logo{
            width: 30px;
            height: 30px;
        }

        .header-nav{
            padding: 0 15px;
            width: 700px;

            .active-list{
                text-decoration: underline;
            }

            .list-navigation{
                display: flex;
                justify-content: space-between;

                  li{
                    list-style-type:none;

                    a{
                        color: black;
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .header-customization{
            display: flex;
            padding-right: 15px;
            width: 200px;
            justify-content: space-between;
            align-items: center;

            .language-choose{
                text-decoration: underline;
            }

            .choose-language{
                display: flex;
                width: 75px;
                padding-right: 15px;
                justify-content: space-between;

                & div:hover{
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .switch-theme{
                display: flex;
                width: 85px;
                justify-content: space-between;

                .theme-choose{
                    border-bottom: 2px solid black;
                }

                .switch-theme__white,
                .switch-theme__black{
                    display: flex;
                    img{
                        width: 30px;
                        height: 30px;
                    }
                }

                & div:hover{
                    cursor: pointer;
                    border: 25px;
                    border-bottom: 2px solid black;
                }
            }
        }

        .container-header__user{
            position: relative;
            display: none;
            width: 115px;
            justify-content: space-between;
            align-items: center;

            .nickUser{
                z-index: 2;
                padding: 0 7px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid black;
                border-radius: 25px;
                &:hover{
                    cursor: pointer;
                }
            }

            .down-list_user:hover .user-purposes {display: block;};

            input[type="checkbox"]:hover{
                cursor: pointer;
            }

            .user-purposes{
                position: absolute;
                display: none;
                padding-top: 10px;
                margin-left: -135px;
                width: 260px;
                z-index: 1;
                div{
                    padding-top: 5px;
                }

                fieldset{
                  padding: 5px 15px;
                }
               }

            .btn-logOut{
                z-index: 2;
                button{
                    font-size: 16px;
                    border: 1px solid white;
                    color: white;
                    border-radius: 25px;
                    display: flex;
                    background: black;
                    padding: 5px 10px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }

        .container-header__bnt{
            display: flex;
            width: 200px;
            justify-content: space-between;

            button{
                font-size: 16px;
                padding: 5px 10px;
                border: none;
                border-radius: 25px;

                &:hover{
                    cursor: pointer;
                }
            }

            .btn-signIn{
                button{
                    border: 1px solid black;
                    border-radius: 25px;
                    display: flex;
                    background: white;
                }
            }

            .btn-signUp{
                button{
                    border: 1px solid white;
                    color: white;
                    border-radius: 25px;
                    display: flex;
                    background: black;
                }
            }
        }
    }

    .menu-btn {
        width: 0px;
       /*  width: 18px; */
        height: 30px;
        position: relative;
        z-index: 2;
        overflow: hidden;
        padding-right: 32px;
      }

      .menu-btn span {
        width: 28px;
       /*  width: 18px; */
        height: 2px;
        position: absolute;
        top: 50%;
        /* top: 45%; */
        left: 50%;
        transform: translate(-50%, -50%);
        background: black;
        border: radius 2px;
        transition: all 0.5s;
      }

      .menu-btn span:nth-of-type(2) {
       /*  top: calc(50% - 5px); */
       top: calc(50% - 6px);
      }

      .menu-btn span:nth-of-type(3) {
       /*  top: calc(43% + 5px); */
       top: calc(43% + 8px);
      }

      .menu-btn {
        display: none;
      }

      .menu-btn:hover {
        cursor: pointer;
      }
}

@media (max-width:1000px) {
    .container{
        &-header{
            .header-nav{
                display: none;
            }

            .container-header__bnt,
            .container-header__user{
                padding-right: 15px;
            }

            .container-header__bnt{
                position: absolute;
                right: 46px;
            }

            .container-header__user{
                position: absolute;
                right: 46px;
            }

            .header-customization{
                padding-left: 15px;
                position: absolute;
                right: 255px;
            }
        }

        .menu-btn {
            display: block;
          }
    }
}

@media (max-width:520px) {
    .container{
        &-header{

            .logo{
                width: 22px;
                height: 25px;
            }
            .header-nav{
                display: none;
            }

            .container-header__bnt{
                right: 40px;
                width: 120px;
                padding-right: 5px;
                .btn-signIn{
                    button{
                        font-size: 9px;
                        padding: 5px 6px;
                    }
                }

                .btn-signUp{
                    button{
                       font-size: 9px;
                       padding: 5px 6px;
                    }
                }
            }

            .container-header__user{
                max-width: 82px;
                right: 35px;
                .nickUser{
                  width: 7px;
                  font-size: 17px;
                }

                .btn-logOut{

                    button{
                        font-size: 10px;
                    }
                }
            }

            .header-customization{
                padding-left: 3px;
                width: 100px;
                right: 172px;
                padding-right: 0px;

                .choose-language{
                   font-size: 15px;
                   max-width: 57px;
                   padding-right: 5px;
                }

                .switch-theme{
                    width: 60px;
                    align-items: center;
                    font-size: 20px;

                    .switch-theme__white,
                    .switch-theme__black{

                        img{
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }



        .menu-btn {
            display: block;
          }
    }
}